@inherits LayoutComponentBase

<div class="page">
    <div style="background-image:none;background-color:darkblue;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Sobre</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Um erro desconhecido ocorreu.
    <a href="" class="reload">Recarregar</a>
    <a class="dismiss">🗙</a>
</div>
