@page "/departamentos/details"
@inject CRUD_ACADEMICO.Data.CrudContext DB
@using CRUD_ACADEMICO.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Detalhes</h1>

<div>
    <h4>Departamento</h4>
    <hr />
    @if (departamento is null)
    {
        <p><em>Carregando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@departamento.Nome</dd>
            <dt class="col-sm-2">Id da Instituição</dt>
            <dd class="col-sm-10">@departamento.InstituicaoId</dd>
        </dl>
        <div>
            <a href="@($"/departamentos/edit?departamentoid={departamento.DepartamentoID}")">Editar</a> |
            <a href="@($"/departamentos")">Voltar à lista</a>
        </div>
    }
</div>

@code {
    Departamento? departamento;

    [SupplyParameterFromQuery]
    public long DepartamentoID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        departamento = await DB.Departamentos.FirstOrDefaultAsync(m => m.DepartamentoID == DepartamentoID);

        if (departamento is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
